{% extends "base.html" %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-5">
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.remember_me() }} {{ form.remember_me.label()}}
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <p>Don't have an account? <a class="accent-link" href="{{ url_for('register') }}">Sign Up</a></p>
            </form>
        </div>
    </div>
{% endblock %}